body {
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  text-wrap: balance;
  color: hsl(var(--font));
}
:root {
  --font: 222, 42%, 11%;
  --background: 0, 0%, 80%;
  --accentCold: 176, 96%, 30%;
  --accentWarm: 24, 54%, 66%;
}
header {
  background-color: hsl(var(--background), 0.8);
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(var(--accentWarm));
}
footer {
  background-color: hsl(var(--background), 0.8);
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: end;
  border-top: 1px solid hsl(var(--accentWarm));
  a {
    font-size: 0.8rem;
    text-decoration: none;
    color: hsl(var(--font), 0.7);
    margin-right: 8px;
  }
}
main {
  min-height: calc(100dvh - (48px + 24px));
  display: grid;
  grid-template-columns: 1fr 3fr;
}
main > aside {
  background-color: hsl(var(--background));
  display: flex;
  border-right: 1px solid hsl(var(--accentWarm));
}
main > article {
  background-color: hsl(var(--background), 0.9);
}
@media (768px < width <= 1024px) {
  main {
    grid-template-columns: 1fr 2fr;
  }
}
@media (width <= 768px) {
  main {
    grid-template-columns: 1fr;
  }
  main > aside {
    display: none;
  }
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --font: 0, 0%, 80%;
    --background: 222, 42%, 11%;
  }
  header {
    border-bottom: 1px solid hsl(var(--accentCold));
  }
  footer {
    border-top: 1px solid hsl(var(--accentCold));
  }
  main > aside {
    border-right: 1px solid hsl(var(--accentCold));
  }
} */