body {
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  text-wrap: balance;
  color: hsl(var(--font));
}
:root {
  --font: 0, 0%, 10%;
  --background: 0, 0%, 90%;
}
header {
  height: 48px;
  display: flex;
  align-items: center;
}
footer {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: end;
  a {
    font-size: 0.8rem;
    text-decoration: none;
    color: hsl(var(--font), 0.7);
    margin-right: 8px;
  }
}
main {
  min-height: calc(100dvh - (48px + 24px));
  background-color: hsl(var(--background-main));
  display: grid;
  grid-template-columns: 1fr 3fr;
}
main > aside {
  background-color: hsl(var(--background));
}
main > article {
  background-color: hsl(var(--background), 0.7);
}
@media (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
  }
  main > aside {
    display: none;
  }
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --font: 0, 0%, 90%;
    --background: 0, 0%, 10%;
  }
} */
