body {
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  text-wrap: balance;
  color: hsl(var(--font));
  font-size: calc(1rem + 0.02dvw);
  font-family: text;
}
:root {
  --font: 222, 42%, 11%;
  --background: 0, 0%, 80%;
  --accentCold: 176, 96%, 30%;
  --accentWarm: 24, 54%, 66%;
  --gapInside: 8px;
  --gapOutside: 16px;
}
@font-face {
  font-family: "title";
  src: url(assets/PaperInko.otf);
}
@font-face {
  font-family: "text";
  src: url(assets/dynapuff.regular.ttf);
}
.fontTitle {
  font-family: "title";
  font-size: calc(1rem + 0.3dvw);
}
header {
  background-color: hsl(var(--background), 0.8);
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(var(--accentWarm));
  padding: var(--gapOutside);
}
footer {
  background-color: hsl(var(--background), 0.8);
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: end;
  border-top: 1px solid hsl(var(--accentWarm));
  a {
    font-size: 0.8rem;
    text-decoration: none;
    color: hsl(var(--font), 0.7);
    margin-right: 8px;
  }
}
main {
  min-height: calc(100dvh - (48px + 24px));
  display: grid;
  grid-template-columns: 1fr 2fr;
}
main > aside {
  background-color: hsl(var(--background));
  border-right: 1px solid hsl(var(--accentWarm));
  display: flex;
  flex-direction: column;
  gap: calc(var(--gapOutside) * 2);
  padding: var(--gapOutside);
}
main > aside p {
  text-align: center;
}
main > article {
  background-color: hsl(var(--background), 0.9);
}
ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--gapInside);
  padding: var(--gapInside);
}
ul > li {
  width: 100%;
}
li > button {
  cursor: pointer;
  width: max(100%, calc(var(--gapOutside) * 4));
  color: hsl(var(--font));
  padding: var(--gapInside);
  border-radius: var(--gapInside);
  border: none;
  outline: 1px solid hsl(var(--accentCold));
  background-color: hsl(var(--accentWarm), 0.5);
  white-space: nowrap;
  overflow: hidden;
}
li > button:hover {
  background-color: hsl(var(--accentWarm));
}
ul.projects-list {
  flex-direction: column;
}
.projects-list {
  flex-direction: column;
}
.projects-list > li {
  display: flex;
  gap: var(--gapInside);
}
img {
  filter: invert(20%);
}
.projects-list > li > button:not(:first-child) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--gapInside) * 2;
}
.projects-list > li > button:not(:first-child) > img {
  width: calc(var(--gapInside) * 3);
}
.projects-list > li > button:first-child {
  width: calc(100% - var(--gapInside) * 4);
  text-align: left;
}
@media (prefers-color-scheme: dark) {
  :root {
    --font: 0, 0%, 80%;
    --background: 222, 42%, 11%;
  }
  header {
    border-bottom: 1px solid hsl(var(--accentCold));
  }
  footer {
    border-top: 1px solid hsl(var(--accentCold));
  }
  main > aside {
    border-right: 1px solid hsl(var(--accentCold));
  }
  li > button {
    outline: 1px solid hsl(var(--accentWarm));
    background-color: hsl(var(--accentCold), 0.5);
  }
  li > button:hover {
    background-color: hsl(var(--accentCold));
  }
  img {
    filter: invert(80%);
  }
}

@media (width <= 767px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(auto, 1fr);
  }
  main > aside {
    border-right: none;
    border-bottom: 1px solid hsl(var(--accentWarm));
  }
}
@media (prefers-color-scheme: dark) and (width <= 767px) {
  main > aside {
    border-bottom: 1px solid hsl(var(--accentCold));
  }
}
